.canvas-container {
  display: flex;
  justify-content: center;

}

.clear-button {
  padding-left: 1em;
  padding-right: 1em;

}

.clear-btn-container {
  padding-left: 5em;
}

.button {
  width: 40px;
  height: 40px;
}

.button-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
