.canvas-container {
  display: flex;
  justify-content: center;
  padding-left: 15em;
}

.clear-button {
  padding-left: 1em;
  padding-right: 1em;

}

.clear-btn-container {
  padding-left: 5em;
}

.button {
  width: 40px;
  height: 40px;
}

.btn-change {
  width: 40px;
  height: 40px;
  background: #eb9694;
  float: left;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
}
.btn-change:hover{
  width: 40px;
  height: 40px;
  -webkit-transform: scale(1.1);
    background: #f06292;
}

.button-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 8em;
}
