.App-header {
  background-color: forestgreen;
  min-height: 10vh;
  /* display: flex; */
  text-align: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: auto;
  padding-right: 1em;
}
