.App-header {
  background-color: forestgreen;
  min-height: 10vh;
  text-align: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: auto;
  padding-right: 1em;
}

.mistyrose {
  font-family: 'Faster One', cursive;
  color: mistyrose;
  font-weight: 600;
  /* font-size: 2em; */
}

.lightPink  {
  font-family: 'Faster One', cursive;
  color: #FFB6C1 ;
  font-weight: 600;
  /* font-size: 2em; */
}

.hotPink {
  font-family: 'Faster One', cursive;
  color: #FF69B4;
  font-weight: 600;
  /* font-size: 2em; */

}

.fushcia {
  font-family: 'Faster One', cursive;
  color: #FF00FF;
  font-weight: 600;
  /* font-size: 2em; */
}

.lightPink-space {
  font-family: 'Faster One', cursive;
  color: #FFB6C1 ;
  font-weight: 600;
  padding-left: 0.5em;
  /* font-size: 2em; */
}

ul {
  list-style: none;
}
